[submodule "salida/cursadas/2026/temas/03-intro-funcional-ts/autograde-repo"]
	path = salida/cursadas/2026/temas/03-intro-funcional-ts/autograde-repo
	url = https://github.com/UNTDF-LabProg/tp-funcional-template.git
